##

(1) 모듈 로딩 <hr>

In [2]:
import pandas as pd

(2) 데이터 준비 <hr>

In [8]:
file ='../DATA/test.html'

(3) HTML => DataFrame 저장

In [9]:
pip install lxml

Requirement already satisfied: lxml in c:\users\desktop\.conda\envs\my_38\lib\site-packages (4.9.3)
Note: you may need to restart the kernel to use updated packages.

In [10]:
import lxml

In [24]:
testDF = pd.read_html(file, encoding='utf-8')
testDF

[    0      1   2
 0  번호     이름  전공
 1   1    홍길동  의적
 2   2    마징가  로봇
 3   4    베트맨  박쥐
 4   5  스파이더맨  거미,
      0     1   2
 0  과일명    가격  수량
 1   사과  1000  32
 2  바나나  3000  10
 3   수박  5800   2]

In [25]:
print(type(testDF))

<class 'list'>

AttributeError: 'list' object has no attribute 'head'