[DataFrame 행/열 추가]

(1) 모듈 로딩

In [1]:
import pandas as pd

(2) 데이터 준비

In [2]:
# dict 타입의 데이터 생성
exam = { ' 이름 ':['손예림', '명노아', '변희진', '이윤서'], 
        '국어' : [98, 95, 96, 100],
        '미술' : [100,82,98,79], 
        '수학':[82,76,94,97], 
        '영어':[97,84,76,100] }

(3) DataFrame에 데이터 저장

In [8]:
examDF = pd.DataFrame(exam)
examDF

   이름    국어   미술  수학   영어
0  손예림   98  100  82   97
1  명노아   95   82  76   84
2  변희진   96   98  94   76
3  이윤서  100   79  97  100

(4) 저장된 데이터 속성 확인

In [13]:
def printAttribute(df, dfname):
    print(f'[{dfname}] Attributes')
    print(f'index\n=== =>{df.index}')
    print(f'columns\n=== =>{df.columns}')
    print(f'shape\n=== =>{df.shape}')
    print(f'ndim\n=== =>{df.ndim}')
    print(f'dtypes\n=== =>{df.dtypes}') # type : Series

In [12]:
printAttribute(examDF, 'examDF')

[examDF]
index
=== =>RangeIndex(start=0, stop=4, step=1)
columns
=== =>Index([' 이름 ', '국어', '미술', '수학', '영어'], dtype='object')
shape
=== =>(4, 5)
ndim
=== =>2
dtypes
=== => 이름     object
국어       int64
미술       int64
수학       int64
영어       int64
dtype: object

(5) DataFrame에 컬럼(column) 추가 
- 방법: DF객체변수명[새로운컬러명]=값

In [14]:
examDF.columns

Index([' 이름 ', '국어', '미술', '수학', '영어'], dtype='object')

In [15]:
#행 갯수만큼 값 추가
examDF['체육']=[90,80,95,94]

In [16]:
examDF

   이름    국어   미술  수학   영어  체육
0  손예림   98  100  82   97  90
1  명노아   95   82  76   84  80
2  변희진   96   98  94   76  95
3  이윤서  100   79  97  100  94

In [20]:
# 1개의 데이터 즉 값 추가 시 모든 형태 동일 값으로 저장
examDF['과학']= 10

In [21]:
examDF

   이름    국어   미술  수학   영어  체육  과학
0  손예림   98  100  82   97  90  10
1  명노아   95   82  76   84  80  10
2  변희진   96   98  94   76  95  10
3  이윤서  100   79  97  100  94  10

In [22]:
examDF.columns

Index([' 이름 ', '국어', '미술', '수학', '영어', '체육', '과학'], dtype='object')

(6) DataFrame에 행(row) 추가 <hr>
- 방법 : DF객체변수명.loc[새로운 행인덱스]=[컬럼수 만큼 데이터1]
- 방법 : DF객체변수명.loc[새로운 행인덱스]=데이터
- 불가 방법: DF객체변수명.iloc[새로운 행인덱스]=데이터=>데이터 존재해야 인덱스가 할당됨

In [23]:
examDF.index

RangeIndex(start=0, stop=4, step=1)

In [24]:
#컬럼 수 만큼의 데이터를 가진 행 추가
examDF.loc[4]=['임소영', 90,95,82,88,74,76]

In [25]:
examDF

   이름    국어   미술  수학   영어  체육  과학
0  손예림   98  100  82   97  90  10
1  명노아   95   82  76   84  80  10
2  변희진   96   98  94   76  95  10
3  이윤서  100   79  97  100  94  10
4  임소영   90   95  82   88  74  76

In [26]:
# 행 추가시 iloc는 사용불가 => why? 데이터 수에 맞게 인덱스 범위 지정이 되기 때문
# 현재 인덱스에 없는 인덱스로 불가
# examDF.iloc[5]=['슈퍼맨', 90, 87, 99, 98,77,62]

IndexError: iloc cannot enlarge its target object

In [27]:
# 1개의 데이터 가진 행을 추가
examDF.loc[4]='슈퍼맨'

In [28]:
examDF

   이름    국어   미술   수학   영어   체육   과학
0  손예림   98  100   82   97   90   10
1  명노아   95   82   76   84   80   10
2  변희진   96   98   94   76   95   10
3  이윤서  100   79   97  100   94   10
4  슈퍼맨  슈퍼맨  슈퍼맨  슈퍼맨  슈퍼맨  슈퍼맨  슈퍼맨