# [DataFrame 살펴보기 ]
* 데이터를 테이블 즉, 표 형태로 저장하는 자료구조
* 구성: 행 + 열
* 생성: pandas.DataFrame()생성자 메서드

(1) 모듈로딩-----------------------------------------------

In [68]:
from pandas import DataFrame

(2)데이터 준비 ----------------------------------------

In [69]:
data=[ [11,22,33],[44,55,66],[77,88,99] ]

(3) Dataframe으로 저장 즉 DataFrame 객체 생성 ------------------

In [70]:
df1 = DataFrame(data)
df1

    0   1   2
0  11  22  33
1  44  55  66
2  77  88  99

(4) DataFrame의 속성 읽기 => 객체변수명, 속성명 ----------------

In [71]:
df1.index

RangeIndex(start=0, stop=3, step=1)

In [72]:
df1.columns

RangeIndex(start=0, stop=3, step=1)

In [73]:
df1.values

array([[11, 22, 33],
       [44, 55, 66],
       [77, 88, 99]], dtype=int64)

In [74]:
df1.shape

(3, 3)

In [75]:
df1.ndim #데이터의 차원정보

2

In [76]:
#컬럼별 데이터 타입
df1.dtypes

0    int64
1    int64
2    int64
dtype: object

(5) 원소 읽기 ==> 행과 열 지정 1개 원소

- 컬럼 즉 열 (column) 읽기 ==> 객체변수명[인덱스]

In [77]:
df1[0]

0    11
1    44
2    77
Name: 0, dtype: int64

In [78]:
## 컬럼변경 ======================================
df1.columns=['A', 'B', 'C']
df1

    A   B   C
0  11  22  33
1  44  55  66
2  77  88  99

In [79]:
df1['A']

0    11
1    44
2    77
Name: A, dtype: int64

In [80]:
df1.A

0    11
1    44
2    77
Name: A, dtype: int64

In [81]:
# df1.0 => 컬럼 레이블 설정 후 정수 인덱싱 불가

-로우 즉 행(row) 읽기 ==> 방법 2가지
      * 위치 인덱스로 읽기: 객체변수명.iloc[인덱스]
      * 레이블 인덱스로 읽기: 객체변수명.loc[인덱스]

In [82]:
df1.index=['one' , 'two','three']

In [83]:
df1

        A   B   C
one    11  22  33
two    44  55  66
three  77  88  99

In [84]:
df1.loc['one']

A    11
B    22
C    33
Name: one, dtype: int64

In [85]:
df1.iloc[0]

A    11
B    22
C    33
Name: one, dtype: int64

(6) 모든 원소를 한번에 한개씩만 출력

In [86]:
df1

        A   B   C
one    11  22  33
two    44  55  66
three  77  88  99

In [87]:
for i in df1.index:
    for j in df1.columns:
        print(df1.loc[i][j])

11
22
33
44
55
66
77
88
99

-객체변수명.iloc[행인덱스,열인덱스]

In [88]:
df1.iloc[0,0], df1.iloc[0,2], df1.iloc[1,0], df1.iloc[1,2]

(11, 33, 44, 66)

In [89]:
df1.loc['one','A'], df1.loc['one','B'], df1.loc['two','A'], df1.loc['two','B']

(11, 22, 44, 55)

In [90]:
df1.loc['one','B'],df1.loc['two','C']

(22, 66)

In [91]:
df1.iloc[0,1]

22

In [92]:
df1.iloc[0][1], df1.iloc[1][2]

(22, 66)

In [93]:
b=df1['B']
b

one      22
two      55
three    88
Name: B, dtype: int64

In [94]:
df1.index, df1.columns

(Index(['one', 'two', 'three'], dtype='object'),
 Index(['A', 'B', 'C'], dtype='object'))

In [95]:
df1.shape[0],df1.shape[1]

(3, 3)

- iloc를 활용한 모든 원소 출력 ==> 행과 열의 번호

In [96]:
for row in range(df1.shape[0]):
    print(row)
    for col in range(df1.shape[1]):
        print(row,col,df1.iloc[row,col])

0
0 0 11
0 1 22
0 2 33
1
1 0 44
1 1 55
1 2 66
2
2 0 77
2 1 88
2 2 99

loc를 활용한 모든 원소 출력 ==> 행레이블과 열레이블의 번호

In [97]:
for row in df1.index:
    print(row)
    for col in df1.columns:
        print('----',col,df1.loc[row,col])

one
---- A 11
---- B 22
---- C 33
two
---- A 44
---- B 55
---- C 66
three
---- A 77
---- B 88
---- C 99

#### [ 문제 ] one, three 행을 선택 후 저장

In [100]:
df1.iloc[0],df1.iloc[2]

(A    11
 B    22
 C    33
 Name: one, dtype: int64,
 A    77
 B    88
 C    99
 Name: three, dtype: int64)

In [103]:
onethreeDF1=df1.loc[['one','three']]

In [104]:
type(onethreeDF1), onethreeDF1

(pandas.core.frame.DataFrame,
         A   B   C
 one    11  22  33
 three  77  88  99)