### [Series 객체 원소 인덱싱 & 슬라이싱]

(1) 모듈 로딩 ----------------------------------------------------

In [2]:
from pandas import Series

(2) 데이터 준비 ---------------------------------------------

In [10]:
data = {'name' : '홍길동' , 'age' : 12, 'job' : '도적'}
sr1=Series(data)
sr1

name    홍길동
age      12
job      도적
dtype: object

(3) 인덱싱으로 원소 읽기 ---------------------------------------

In [11]:
sr1['age'], sr1[1],sr1.index

(12, 12, Index(['name', 'age', 'job'], dtype='object'))

=> 2개 원소 읽기

In [14]:
# 이름과 직업 데이터 읽기
sr1['name'],sr1['job'],sr1[0],sr1[2], type(sr1[0])

('홍길동', '도적', '홍길동', '도적', str)

In [19]:
# 이름과 직업 데이터 읽기 ==> 리스트 단위로 읽기
ret=sr1[['name', 'job']]
ret2=sr1[[0, 2]]
type(ret), ret
type(ret2), ret2

(pandas.core.series.Series,
 name    홍길동
 job      도적
 dtype: object)

(4) 슬라이싱으로 원소 읽기 -----------------------------------------------

In [20]:
# 위치 인덱스로 슬라이싱 ------------------------------------------
sr1[:2]         #시작 <= ~ < 끝

name    홍길동
age      12
dtype: object

In [21]:
sr1[:]

name    홍길동
age      12
job      도적
dtype: object

In [22]:
# 레이블 인덱스로 슬라이싱 -------------------------------------------------
sr1['name':'job']     #시작<= ~ <=끝 == sr1[:2]

name    홍길동
age      12
job      도적
dtype: object